body { 

    font-family: Arial, sans-serif; 

    margin: 0; 

    padding: 0; 

} 

 
 

header { 

    background-color: #4CAF50; 

    color: white; 

    padding: 10px; 

    text-align: center; 

} 

 
 

header nav ul { 

    list-style-type: none; 

    padding: 0; 

} 

 
 

header nav ul li { 

    display: inline; 

    margin: 0 10px; 

} 

 
 

header nav ul li a { 

    color: white; 

    text-decoration: none; 

} 

 
 

main { 

    padding: 20px; 

} 

 
 

#loginBtn { 

    position: fixed; 

    top: 20px; /* Distance from the top of the page */ 

    right: 100px; /* Distance from the right edge */ 

} 

 
 

#signUpBtn { 

    position: fixed; 

    top: 20px; /* Distance from the top of the page */ 

    right: 20px; /* Distance from the right edge */ 

} 

 
 

.sign-up-button { 

    background-color: #4CAF50; /* Green background */ 

    color: white; /* White text */ 

    border: none; /* No border */ 

    padding: 10px 20px; /* Padding around the text */ 

    text-align: center; /* Centered text */ 

    font-size: 16px; /* Font size */ 

    cursor: pointer; /* Pointer cursor on hover */ 

    border-radius: 5px; /* Rounded corners */ 

    margin-left: 20px; /* Space between the button and the nav items */ 

} 

 
 

.sign-up-button:hover { 

    background-color: #a0457d; /* Darker green when hovered */ 

} 

 
 

/* Style for Login Button */ 

.login-button { 

    background-color: #4CAF50; /* Green background */ 

    color: white; /* White text */ 

    border: none; /* Remove border */ 

    padding: 10px 20px; /* Padding around the text */ 

    text-align: center; /* Center the text inside */ 

    font-size: 16px; /* Font size */ 

    cursor: pointer; /* Change cursor on hover */ 

    border-radius: 5px; /* Rounded corners */ 

    margin-left: 10px; /* Space between the buttons */ 

} 

 
 

/* Hover effect for Login Button */ 

.login-button:hover { 

    background-color: #cd76c1; /* Darker pink on hover */ 

} 

 
 

/* Video Upload Section */ 

.video-upload { 

    padding: 20px; 

    text-align: center; 

    margin-top: 80px; /* Space below the header */ 

} 

 
 

.video-upload h2 { 

    font-size: 24px; 

    margin-bottom: 20px; 

    color: #333; 

} 

 
 

.video-upload input[type="file"] { 

    padding: 10px; 

    border-radius: 5px; 

    margin-top: 20px; 

} 

 
 

.video-upload button { 

    padding: 10px 20px; 

    background-color: #4CAF50; /* Green background */ 

    color: white; /* White text */ 

    border: none; /* Remove border */ 

    font-size: 16px; /* Font size */ 

    cursor: pointer; /* Change cursor on hover */ 

    border-radius: 5px; /* Rounded corners */ 

    margin-top: 20px; 

} 

 
 

.video-upload button:hover { 

    background-color: #a0457d; /* Darker green on hover */ 

} 

 
 

/* Style for the Video Player */ 

#uploadedVideo { 

    display: none; 

    margin-top: 20px; 

} 

 
 

#uploadedVideo video { 

    width: 80%; 

    max-width: 600px; 

} 

 
